*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.navk{
    background: red;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding: 5px;
}
@media only screen and (max-width: 600px) {
    
    .menu{
        flex: 30%;
        display: none;
    }
   .menu a{
        font-size: 5px;
        display: none;
    }
}
@media only screen and (max-width: 900px) {
    #botao{
        display: none;
    }
}

.may{
    /* border: 1px solid yellow; */
    flex: 20%;
    margin-left: 10%;
    }
.may h1{
   font-family: 'lobster', cursive;
   color: blue;
   font-size: 40px;
}

.menu{
    /* border: 1px solid black; */
    flex: 60%;
    padding: 20px;
    text-align: right;
}

.menu a{
    color:blue;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
    
}
.menu a:hover{
    color: blanchedalmond;
    border-top: 5px solid yellow;
}

#botao{
    background: black;
    padding: 10px 25px;
    color: white;
    margin-right: 10%;
    border-radius: 5px;
    margin-left: 5%;
}
#botao:hover{
    background: powderblue;
    border: none;
}
.header{
    background: white;
    display: flex;
    flex-flow: row wrap;
    height: 400px;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    }
    .headline{
        flex: 40%;
        margin-left: 10%;
        /* border: 1px solid red; */
    }
    .headline h2{
        font-size: 20px;
        color: blue;
        padding: o;
        margin: 0;
    }
    .headline p{
        color: red;
        text-align: left;
    }
    .src{
        width: 450px;
        right: 500px;
        padding: 20px 30px;
    }
    .src-headline{
        margin-right: 10%;
        flex: 40;
        text-align: center;
    }
    .contact-btn{
        background: rgb(40, 107, 73);
        text-decoration: none;
        padding: 2%;
        color: azure;
      }
      .contact-btn:hover{
        background: green;
        color: white;
      }
      .section{
        display: inline-block;
        background: white;
        margin-top: 80px;
        /* border: 1px solid black; */
        margin-left: 5%;
        margin-right: 5%;
        height: 440px;
        text-align: center;
        padding: 5%; 
        width: 100%; 
    }
    .section h2{
        margin: 0;
        font-family: 'lobster' cursive;
        font-weight: bold;
        color: blue;
    }
    .mary{
        text-align: center;
        font-size: 50px;
        font-size: 40px;
    }
    .servicos{
        display: flex;
        margin: 5%;
    }
    .card{
        display: flex;
        height: 300px;
        padding: 10px;
        margin: 1%;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;
        /* border: 1px solid red; */
    
}
.card-text{
    border: 1px solid blue;
    width: 33%;
}
.card-text:hover{
background: greenyellow;
}
@media only screen and (max-width: 750px) {
    .card{
    margin-bottom: 2px;
    
    }
}
.footer{
    margin: 0;
    width: 100%;
    height: 200px;
    background-image: -moz-linear-gradient(180deg, blue, green, red);
    text-align: center;
    border-top: #FF2978;
}
.logo-rodape{
    background: black;
    width: 100%;
    right: 30%;
    text-align: center;
}
.agencia{
    font-family: 'lobster', cursive;
    color: white;
    font-size: 22px;
}
.hrefa{
    background: rgb(0, 132, 255);
    padding: 10px;
}
    
